<head>
    <style>
        .create-account {
            text-decoration: none;
            color: black;
        }

        .create-account:hover {
            color: green;
            font-weight: bold;
        }
    </style>

</head>


<h1>Login</h1>

<form method="POST" action="/signin">
    <label for="email">Email: </label>
    <br>
    <input type="email" name="email" placeholder="xxx@email.com">
    <br>
    <label for="password">Password: </label>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <input type="submit" class="welcome-button" value="Sign In">
</form>
<br>
<a href="/users/new" class="create-account">Create Account</a>