<h1>Create your Listing</h1>

<form method="POST" action="/listings">
    <label for="listing_description">Listing Description</label>
    <br>
    <input type="text" name="listing_description">
    <br>
    <label for="address">Address</label>
    <br>
    <input type="text" name="address">
    <br>
    <label for="price">Price</label>
    <br>
    <input type="text" name="price">
    <br>
    <label for="features">Features</label>
    <br>
    <input type="text" name="features">
    <br>
    <br>
    <input type="submit" class="welcome-button" value="List your property">
</form>