<h1>Request a showing</h1>

<h3>Property: _____________________</h3>

<form method="POST" action="/showings">
    <label for="appointment">Input a Date & Time: </label>
    <br>
    <input type="text" name="appointment">
    <br>
    <br>
    <input type="submit" value="Request a showing">
</form>

