<head>
  <style>
       .apartment-button {
         margin: 0px 10px;
       }
  
  </style>
</head>


<div class="container">
  <header><h1>Simple Zillow</h1></header>
  <div class="col-md-8 col-md-offset-2">    

    <div class="button-choice">
        <a href="/listings" class="apartment-button">Find an Apartment</a>
        <a href="/listings/new" class="apartment-button">List an Apartment</a>
    </div>

  </div>
</div>
