<head>
  <style>
 

   
  
  </style>
</head>


<div class="container">
  <header><h1>Simple Zillow</h1></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Simple Zillow! <br>Find your new aparmtent or list one here! </h2>

    <div class="button-choice">
        <button class="welcome-button">Find an Apartment</button>
        <button class="welcome-button">List an Apartment</button>
    </div>



  

  </div>
</div>
