<head>
  <style>
 

   
  
  </style>
</head>


<div class="container">
  <header><h1>Simple Zillow</h1></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Simple Zillow! <br>Find your new aparmtent or list one here! </h2>

    <div class="button-choice">
        <a href="/listings">Find an Apartment</a>
        <a href="/listings/new">List an Apartment</a>
    </div>



  

  </div>
</div>
